/*@media only screen and (min-width: 768px) {
  .navbar-nav {
    background: transparent;
  }
}*/
body {
  background: #f6f6fd;
}

.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
}
.navbar .navbar-brand {
  font-family: -webkit-pictograph;
}

@media only screen and (min-width: 240px) {
  .features {
    padding: 80px 0;
  }
}
@media only screen and (min-width: 240px) {
  .btn-cta {
    font-family: -webkit-pictograph;
  }
}

.blockfilter-btn {
  text-decoration: none;
  position: relative;
}
.blockfilter-btn.active {
  color: #dc3545;
}

.blockfilter-btn.active:before,
.blockfilter-btn:hover:before {
  content: "";
  position: absolute;
  left: -5%;
  border: 1px solid;
  border-radius: 5px;
  height: 26px;
  width: 110%;
}

.blockfilter-btn.active:hover:before {
  border-color: #0d6efd;
}

.vacfinder-avail-card {
  /*background-image: linear-gradient(180deg, #ffffff00, #fff),
    linear-gradient(70deg, #ddf4ff 32%, #dafbe1);*/
}
/*.vacfinder-navail-card {
  background-image: linear-gradient(180deg, #ffffff00, #fff),
    linear-gradient(70deg, #ffebe9 32%, #ffebe9);
  border-color: #ff818266;
}*/

@media only screen and (max-width: 530px) {
  select#state-dropdown,
  select#district-dropdown {
    max-width: 145px;
  }
}

.vacfilter-btn.active {
  background-color: #6c757d;
  color: #fff;
}

/*Bootstrap mods-------------------------------------------------------------------------------------*/
